:root{
  font-size: 16px;
}
html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}
.phone{
  width: 100%;
  
  border-top:none ;
  border-left:none ;
  border-right:none ;
  border-width: 0.3px;
  border-color: #69c0ff;
  height: 40px;
  
}
.phone:focus
{
    border: 1px solid #1670BE;
    box-shadow: 0 0 3px #1670BE;
    outline-offset: 0px;
    outline: none;
}
.country {
  color:#1e5f8d;
  height: 40px;
  background-color: transparent;
  border-width: 0.3px;
  border-color: #69c0ff;
  box-shadow: 0 1px 0 1px rgba(89, 107, 112, 0.04);
	border-radius: .5em;
  padding: 0 1em 0 0;
 
  width: 100%;
  font-family: inherit;
  font-size: inherit;

}
.country:focus
{
    border: 1px solid #1670BE;
    box-shadow: 0 0 3px #1670BE;
    outline-offset: 0px;
    outline: none;
}
.commerce{

  color:#1e5f8d;
  height: 40px;
  background-color: transparent;
  border-width: 0.3px;
  border-color: #69c0ff;
  box-shadow: 0 1px 0 1px rgba(89, 107, 112, 0.04);
	border-radius: .5em;
  padding: 0 1em 0 0;
 
  width: 100%;
  font-family: inherit;
  font-size: inherit;

}
.commerce:focus
{
    border: 1px solid #1670BE;
    box-shadow: 0 0 3px #1670BE;
    outline-offset: 0px;
    outline: none;
}
Form.Group{
  padding: 30px;
} 
.homeBtn{
  text-align: justify;
  margin-top: 50%;
}
.homeBtn:active{
  color:#176cd4;
}
.homeBtn:hover{
 color:#176cd4;
}
.searchForm{
 display: flex;
  
 }
 .icon1{
   color: #8a8a8a;
 }
 
 .icon1:active{
   color:#00A600;
 }
 .icon1:hover{
  color:#00A600;
}

.icon{
  color: #8a8a8a;
}
.icon:active{
  color:#00A0B1;
}
.icon:hover{
 color:#00A0B1;
}
 @media (max-width: 768px){
  .homeBtn{
    display: none;
  }
 

  .navItem{
    display: block;
  }
  .searchForm1{
  display: none;

  }
  .searchForm{
   width: 12rem; 
    }

}
@media  (min-width: 800px){
  .navItem {
    display: none;
  }

  .searchForm1{
  display: block;
  width: 16em;
  }
}
.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 40%;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  cursor: pointer;
}
.container {
  padding: 2px 16px;
}
